absl-py==1.4.0
alabaster
anyio
argon2-cffi
arrow
asn1crypto
astroid
astropy
async-generator 
attrs 
autopep8 
Babel 
backcall 
bcrypt
beautifulsoup4 
binaryornot 
bitarray 
bkcharts==0.2
black==19.10b0
bleach 
bokeh 
Bottleneck 
cached-property 
cffi 
chardet 
charset-normalizer 
click==8.0.3
Flask 
html5lib 
ipykernel 
keras==2.12.0
numpy==1.22.4
oauthlib==3.2.2
pep8==1.7.1
Pillow==8.4.0
requests 
requests-oauthlib
SQLAlchemy
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
