absl-py==1.4.0
alabaster
anyio
argon2-cffi
arrow
asn1crypto
astroid
astropy
async-generator 
attrs 
autopep8 
Babel 
backcall 
bcrypt
beautifulsoup4 
binaryornot 
bitarray 
bkcharts==0.2
black==19.10b0
bleach 
bokeh 
Bottleneck 
cached-property 
cffi 
chardet 
charset-normalizer 
click==8.0.3
Flask 
html5lib 
ipykernel 
keras
numpy
oauthlib
pep8
Pillow
requests 
requests-oauthlib
SQLAlchemy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
